<html>
    <head></head>
    <body>
        <h1>DH News</h1>
        <h3 class="data">Postado em 21/07/2022</h3>
        <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O <strong>Lorem Ipsum</strong> tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
        <img src="../public/img/destaque.webp" alt="=pessoas sentadas na DH">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, architecto adipisci, repellat soluta reiciendis fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae ut totam magni maxime delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quam optio pariatur eligendi velit cupiditate quos est ipsum, dolorem soluta, vitae libero. Ad veniam quam voluptatibus eos cum delectus maxime.</p>
        <ol>
            <li>laudantium nostrum sint officia</li>
            <li>velit cupiditate quos est ipsum</li>
            <li>oluptatibus eos cum delectus</li>
        </ol>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, beatae nesciunt eligendi est ea iste repudiandae perspiciatis quisquam ipsum alias maxime deleniti assumenda deserunt officiis! Tempore atque beatae labore provident. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti omnis consequatur, placeat eum aut a ullam voluptatem architecto. Dolorum suscipit libero totam ducimus? Odio quidem quaerat ad voluptatum qui ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis non quisquam assumenda. Dolore nemo, ex exercitationem incidunt sequi fugiat asperiores deserunt facilis minus quis? Cupiditate maiores voluptas obcaecati velit!</p>
        <footer>
            <a target="_blank" href="https://www.facebook.com/digitalhousebrasil">
                <img src="../public/img/facebook.svg" alt="icone do fb">
            </a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </footer>
    </body>
</html>