<html>

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');
    </style>
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>

<body>
    <h1>DH News</h1>
    <h3 class="data">Postado em 21/07/2022</h3>
    <p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O <strong>Lorem Ipsum</strong> tem vindo
        fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae misturou os caracteres de um
        fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae também o salto para a
        fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae nos anos 60 com a
        fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae e mais recentemente com os
        programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
    <img class="destaque" src="../public/img/destaque.webp" alt="=pessoas sentadas na DH">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, architecto adipisci, repellat soluta reiciendis
        fuga rerum temporibus praesentium odit optio laudantium nostrum sint officia vitae ut totam magni maxime
        delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quam optio pariatur eligendi velit
        cupiditate quos est ipsum, dolorem soluta, vitae libero. Ad veniam quam voluptatibus eos cum delectus maxime.
    </p>
    <ol id="lista">
        <li>laudantium nostrum sint officia</li>
        <li>velit cupiditate quos est ipsum</li>
        <li>oluptatibus eos cum delectus</li>
    </ol>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, beatae nesciunt eligendi est ea iste repudiandae
        perspiciatis quisquam ipsum alias maxime deleniti assumenda deserunt officiis! Tempore atque beatae labore
        provident. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti omnis consequatur, placeat eum aut
        a ullam voluptatem architecto. Dolorum suscipit libero totam ducimus? Odio quidem quaerat ad voluptatum qui
        ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique corporis non quisquam assumenda.
        Dolore nemo, ex exercitationem incidunt sequi fugiat asperiores deserunt facilis minus quis? Cupiditate maiores
        voluptas obcaecati velit!</p>
    <section>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, beatae nesciunt eligendi est ea iste
            repudiandae perspiciatis quisquam ipsum alias maxime deleniti assumenda deserunt officiis! Tempore atque
            beatae labore provident. Lorem ipsu amet consectetur adipisicing elit amet consectetur adipisicing elit</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, beatae nesciunt eligendi est ea iste
            repudiandae perspiciatis quisquam ipsum alias maxime deleniti assumenda deserunt officiis! Tempore atque
            beatae labore provident. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti omnis
            consequatur, placeat eum aut a ullam voluptatem architecto. Dolorum suscipit libero totam ducimus? Odio
            quidem quaerat ad voluptatum qui ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            corporis non quisquam assumenda. Dolore nemo, ex exercitationem incidunt sequi fugiat asperiores deserunt
            facilis minus quis? Cupiditate maiores voluptas obcaecati velit!</p>
    </section>
    <footer>
        <a target="_blank" href="https://www.facebook.com/digitalhousebrasil">
            <img src="../public/img/facebook.svg" alt="icone do fb">
        </a>

        <a target="_blank" href="https://www.instagram.com/digitalhousebrasil">
            <img src="../public/img/instagram.svg" alt="icone do instagram">
        </a>

        <a target="_blank" href="https://www.linkedin.com/school/digital-house-brasil/mycompany">
            <img src="../public/img/linkedin.svg" alt="icone do linkedin">
        </a>

        <a target="_blank" href="https://www.youtube.com">
            <img src="../public/img/youtube.svg" alt="icone do youtube">
        </a>

    </footer>
</body>